.card{
    width: 500px;
    height: 1000px;
    border-radius: 20px;
    margin: auto;
   
   
}
#grad{
    background-image: linear-gradient(to bottom right, rgb(72,224,180),rgb(67,76,109));
}
.weatherIcon{
    width: 150px;
    height: 150px;
    margin-left: 170px;
    
   
}
.search{
    border-radius: 20px;
    text-align: center;
    margin: auto;
}
.temp{
    color: white;
    text-align: center;
}
.city{
    color: white;
    text-align: center; 
}
.bi-wind {
    font-size: 40px;
    
}
.row {
    display : flex;
 }
 .col {
   flex:1;
   text-align: center;
   padding : 20px;
 }
 .search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    }
    .search button{
    border: 0;
    outline: 0;
   
    border-radius: 20px;
    width: 60px;
    height: 40px;
    cursor: pointer;
    }
    